<header>
		<div class="container">
			<nav class="header-nav" id="head">
				<div class="left">
					<h1 class="logo aw"><a href="#">ZET</a></h1>	
				</div>
				<div class="rigth">
					<div class="menu">
						<div class="item-menu aw"><a href="/">Главная</a></div>
						<div class="item-menu aw"><a href="/shop">Магазин</a></div>
						<div class="item-menu aw"><a href="#">Информация</a></div>
						<div class="item-menu aw"><a href="/contact">Контакты</a></div>
					</div>
					<div class="menu-button-phone">
						<img src="/public/img/burger.png" alt="" class="burger">
					</div>
				</div>
			</nav>
		</div>
		<nav class="header-phone animend">
			<div class="menu-phone to">
				<div class="zet-phone">
					<h1 class="logo "><a href="#" class="aw">ZET</a></h1>
					<img src="/public/img/cross.png" alt="" class="cross">
				</div>
				<div class="item-phone gl-phone"><a href="/" class="aw">Главная</a></div>
				<div class="item-phone"><a href="/shop" class="aw">Магазин</a></div>
				<div class="item-phone"><a href="" class="aw">Информация</a></div>
				<div class="item-phone info-phone"><a href="/contact" class="aw">Контакты</a></div>
			</div>
		</nav>
	</header>