<div class="container">
    <div class="models">
        <div class="items-model">

          
            <a href="" class="a item-model">
                <img src="" alt="">
                <h2 class="name-model"></h2>
                <h1 class="price-model"></h1>
            </a>
       
       
      
    </div>
    
    </div>
</div>