<div class="container">
    <div class="models">
        {{#each lamp}}
        <div class="items-model">

            
            <a href="" class="a item-model">
                <img src="/public/upload/models/{{this.photo}}" alt="">
                <h1 class="price-model">{{this.price}}$</h1>
                <h2 class="name-model">{{this.name}}</h2>
                
            </a>

            

        </div>
        {{/each}}
         
    </div>
</div>